// body
$body-font: 18px Helvetica, arial, sans-serif;

// navigation links
$nav-color: #fff;
$nav-hover: #f09523

// colors
$left-font: #fff;
$hover: #f09523;
$right-font: #262682;
$butt-bord: 1px solid #fff;
$text-d: none;


// size
$body-text: 18px;
$text-1: 47px;
$text-2: 25px;
$butt-1: 18px;
$line: 27px;








